@media only screen and (max-width: 750px) {
  
  
header{

    height: 40px;
    width: auto;
    border: black 0.5px solid;
    display: flex;
    align-items: center;

}



.threeline{

    width: 35px;
    height: 2px;
    background-color:  burlywood;
    margin: 6px 5px;
   
 
 }

.heding{

  font-size: 30px;
  text-decoration: none;

}


.sreachingboxs{

  
  display: flex;
  flex-direction: column;

}

.items_list {
  list-style: none;
  position: relative;
  height: 90%;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
 
  


}



.lines {

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: white 2px solid;
  
 
  margin: 5px;
  padding: 0;
  transition: all 0.3s ease-in-out;
  height: 300px;
  width: 500px;
 

}

.imagesbox {

 
  background-image: url("images/hp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
 
  margin: 5px;
  width: 50%;
  height: 50%;

}
.detalisbox {

  position: relative;
  height: 50%;
  width: 50%;
 
 




}


}