@media only screen and (max-width: 750px) {
  
  
header{

    height: 40px;
    width: auto;
    border: black 0.5px solid;
    display: flex;
    align-items: center;

}



.threeline{

    width: 35px;
    height: 2px;
    background-color:  burlywood;
    margin: 6px 5px;
   
 
 }

.heding{

  font-size: 30px;
  text-decoration: none;

}


.sreachingboxs{

  
  display: flex;
  flex-direction: column;

}


.lines {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white 2px solid;
  box-shadow: 0 0 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;

}

.imagesbox {

 
  background-image: url("images/hp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 250px;

}
.detalisbox {

  width: 250px;
 




}


}